.App{
    min-height: 100svh;
}

.Night{
    background-color: rgb(52, 52, 52);
    color: beige;
}

.Day{
    background-color: beige;
    color: rgb(52, 52, 52);
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 5px;
}

.horizontalRule{
    border: 1px solid;
    margin-top: -5px;
}

.btn-icon{
    border-radius: 20px;
    width: 40px;
    height: 30px;
}

.btn-Night{
    background-color: beige;
    color: rgb(52, 52, 52);
}

.btn-Day{
    background-color: rgb(52, 52, 52);
    color: beige
}