.App{
    min-height: 100svh;
}

.Night{
    background-color: var(--dark);
    color: var(--light);
}

.Day{
    background-color: var(--light);
    color: var(--dark);
}

.Night-card{
    background-color: rgb(26, 26, 26);
    color: var(--light);
}

.Day-card{
    background-color: white;
    color: var(--dark);
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 5px;
}

.footer{
    width: 100%;
    padding: 5vh 10vw;
    display: flex;
    justify-content: space-around;
}

.horizontalRule{
    border: 1px solid;
    margin-top: -5px;
}

.btn-icon{
    border-radius: 20px;
    width: 40px;
    height: 30px;
}

.btn-Night{
    background-color: beige;
    color: rgb(52, 52, 52);
}

.btn-Day{
    background-color: rgb(52, 52, 52);
    color: beige
}

.input{
    border-radius: 5px;
    height: 35px;
    width: 300px;
    margin: 5px;
}

.btn{
    border-radius: 5px;
    height: 35px;
    width: 300px;
    margin: 5px;
}